{% load static %}
<span class="payment-card-brands" role="img" aria-label="البطاقات المقبولة: مدى، فيزا، ماستركارد">
  <span class="payment-card-brand"><img src="{% static 'img/payment-cards/mada.svg' %}" alt="" width="31" height="11"></span>
  <span class="payment-card-brand"><img src="{% static 'img/payment-cards/visa.svg' %}" alt="" width="31" height="10"></span>
  <span class="payment-card-brand"><img src="{% static 'img/payment-cards/mastercard.svg' %}" alt="" width="29" height="18"></span>
</span>
